<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head >
    <meta charset="UTF-8 " http-equiv="content-Type" content="multipart/form-data">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,multipart/form-data">
    <link href="https://cdn.bootcss.com/semantic-ui/2.4.1/semantic.min.css" rel="stylesheet">
    <link rel="stylesheet" href="../static/lib/editormd/css/editormd.min.css" th:href="${'lib/editormd/css/editormd.min.css'}">
    <link rel="stylesheet" href="../static/css/me.css" th:href="${'css/me.css'}">
    <link rel="stylesheet" href="../static/css/headImg_style.css" th:href="${'css/headImg_style.css'}">
    <title>新闻管理主页</title>
</head>
<body>

    <!--导航-->
    <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-mini m-shadow-small">
        <div class="ui container">
            <div class="ui inverted secondary stackable menu">
                <h2 class="ui teal header">管理后台</h2>
                <a href="#" th:href="@{/getBackNews}" class="item"><i class="home icon"></i>首页</a>
                <a href="#" th:href="@{/getBlags}" class="item"><i class="mini idea icon"></i>新闻管理</a>
                <a href="#"  th:href="@{/types}" class="item"><i class="mini idea icon"></i>新闻分类管理</a>
                <a href="#" class="item"><i class="mini idea icon"></i>评论管理</a>
                <div class="right m-item m-mobile-hide menu">
                    <div class="ui dropdown  item">
                        <div class="text">
                            <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005">
                            pyk
                        </div>
                        <i class="dropdown icon"></i>
                        <div class="menu">
                            <a href="#" th:href="@{/showUser}" class="item">显示用户信息</a>
                            <a href="#"  th:href="@{/getEditPwd}" class="item">修改密码</a>
                            <a href="#" th:href="@{/logout}" class="item">注销</a>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </nav>
    <br/><br/><br/>    <br/><br/><br/>    <br/><br/><br/>
    <!--中间内容-->
    <div  class="m-container-small m-padded-tb-big">
        <form class="ui  form error" method="post" th:action="@{/editUser/{id}(id=*{user.id})}" enctype="multipart/form-data">
            <div class="two fields">
                <div class="field error">
                    <label >用户名：</label>
                    <input type="hidden" name="id" th:value="${user.id}">
                    <input name="username" type="text" th:value="${user.username}">
                </div>
                <div class="field error">
                <label >昵称：</label>
                <input name="nickname" type="text" th:value="${user.nickname}">
            </div>
            </div>
            <div class="two fields">

                <div class="field error">
                    <label>E-mail</label>
                    <input name="email" type="text" th:value="${user.email}">
                </div>
                <div class="field error">
                    <label >手机号：</label>
                    <input name="phone" type="text" th:value="${user.phone}">
                </div>
            </div>
            <div class="two fields">
                <div class="field error">
                    <label >上传头像</label>
                    <input type="file" name="fileAvatar">
                </div>
                <div class="field">
                    <label >已上传头像</label>
                    <img src="#" style="width: 80px;height: 80px;" th:src="@{${user.avatar}}">
                </div>
            </div>
            <div class="ui submit button">
              <button id="addId" class="ui teal button">提交</button>
            </div>
            <div class="ui error message">
                <ul class="list">
                    <li>请输入4到16位的以英文字母开头的用户名</li>
                    <li>请输入4到16位的包含字母,数字,汉字,下划线的昵称</li>
                    <li>请输入13位的手机号码</li>
                    <li>请输入正确的邮箱地址</li>
                </ul>
            </div>
        </form>
    </div>
    <br/><br/><br/>    <br/><br/><br/>    <br/><br/><br/>
    <!--底部footer-->
    <footer class="ui inverted vertical segment m-padded-th-massive">
        <div class="ui center aligned container">
            <div class="ui inverted divided stackable grid">
                <div class="three wide column">
                    <div class="ui inverted link list">
                        <div class="item">
                            <img src="../static/images/touxiang.png" th:src="@{/images/touxiang.png}" alt="" class="ui rounded image" style="width: 110px"/>
                        </div>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">最新新闻</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">喀纳斯冬季白雪覆盖 宛如人间仙境</a>
                        <a href="#" class="item">中国天文学家发现迄今最大恒星级黑洞</a>
                        <a href="#" class="item">“剁手”倒计时！欧洲各国预热“黑五”大促</a>
                    </div>
                </div>
                <div class="three wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced">联系我们</h4>
                    <div class="ui inverted link list">
                        <a href="#" class="item">Eamil:pengyikai58@163.com</a>
                        <a href="#" class="item">QQ:1395782831</a>
                    </div>
                </div>
                <div class="seven wide column">
                    <h4 class="ui inverted header m-text-thin m-text-spaced ">新闻网页</h4>
                    <p class="m-text-thin m-text-spaced m-opacity-mini">这是一个实时的新闻网站，是有关当前热门，争论的一些观点和信息。</p>
                </div>
            </div>
            <div class="ui inverted section divider"></div>
            <p class="m-text-thin m-text-spaced m-opacity-mini">Copyright ©️2019 - 2020 NEWS Designed By PYK</p>
        </div>
    </footer>
</body>
<script type="application/javascript" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/semantic-ui/2.2.4/semantic.min.js"></script>
<script>
    $('.menu.toggle').click(function () {
        $('.m-item').toggleClass('m-mobile-hide');
    });

    $('.ui.dropdown').dropdown({
        on : 'hover'
    });
   $('.ui.form')
            .form({
                on: 'blur',
                fields: {
                    username: {
                        identifier  : 'username',
                        rules: [
                            {
                                type   : 'regExp[/^[a-z0-9_-]{4,16}$/]',
                                prompt : '请输入4到16位的以英文字母开头的用户名'
                            }
                        ]
                    },
                    nickname: {
                        identifier  : 'nickname',
                        rules: [
                            {
                                type   : 'regExp[/^([a-zA-Z0-9_\u4e00-\u9fa5]{3,16})$/]',
                                prompt : '请输入4到16位的包含字母,数字,汉字,下划线的昵称'
                            }
                        ]
                    },
                    phone: {
                        identifier  : 'phone',
                        rules: [
                            {
                                type   : 'regExp[/^1([358][0-9]|4[579]|66|7[0135678]|9[89])[0-9]{8}$/]',
                                prompt : '请输入13位的手机号码'
                            }
                        ]
                    },
                    email: {
                        identifier  : 'email',
                        rules: [
                            {
                                type   : 'regExp[/^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$/]',
                                prompt : '请输入正确的邮箱地址'
                            }
                        ]
                    }

                }
    });

</script>
</html>