<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
            <table>
                <tr>
                    <th>手机号</th>
                    <th>验证码</th>
                </tr>
                <tr>
                    <td>
                        <input id="id" name="id" type="hidden" th:value="${user.id}">
                        <input id="phone" name="phone" type="text" placeholder="请输入您的手机号码" >
                    </td>
                    <td>
                        <input name="code" type="text" placeholder="请输入验证码">
                        <input id="btnId" type="button" value="点击获取验证码">
                    </td>
                </tr>
            </table>
           <!-- <input type="submit" value="提交">-->
    </div>
</body>
<script type="application/javascript" src="../static/js/jquery-1.11.0.min.js" th:src="@{/js/jquery-1.11.0.min.js}"></script>
<script type="application/javascript">
        $("#btnId").click(function(){
            alert("sdada");
            var user={
                id:$("#id").val(),
                phone:$("#phone").val()
            };
            $.ajax({
                type:"post",
                url:"/sendCode",
                dataType:"json",
                contentType:"application/json;charset=utf-8",
                data:JSON.stringify(user),
                success:function(d){
                    if(d=="1"){
                        $("#btnId").append("<p>验证码发送成功</p>")
                    }else{
                        $("#btnId").append("<p>验证码发送失败</p>")
                    }
                },
                error:function(){
                    alert("请求失败");
                }
            });
        });

</script>
</html>